{% load static %}
<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/mypage.css' %}">
    <link rel="stylesheet" href="{% static 'css/profile_info.css' %}">
    <link rel="stylesheet" href="{% static 'css/profile_delete.css' %}">
    <link rel="stylesheet" href="{% static 'css/sidebar_profile.css' %}">
    <link rel="stylesheet" href="{% static 'css/sidebar.css' %}">
    <link rel="stylesheet" href="{% static 'css/stepper.css' %}">

    <link href="https://fonts.googleapis.com/css2?family=Spoqa+Han+Sans+Neo:wght@400;500;700&display=swap" rel="stylesheet">
</head>
<body>
    <div class="layout">
        {% include "layout/sidebar.html" %}
        <div class="layout">
          <div class="profile-main-wrapper" style="align-self: center;">
            <div class="center-card-container">
                  <div class="modal-card">
                    <h1>새 비밀번호가 설정되었어요.</h1>
                    <p>새로운 비밀번호로 새롭게 로그인해주세요.</p>
                    <div class="img-wrapper">
                      <img src="{% static 'images/delete_confirm.png' %}" alt="하트 아이콘" class="heart-icon" width="500">
                    </div>
                    <div class="modal-buttons">
                      <button class="cancel-btn" onclick="location.href=`{% url 'logout' %}`">로그인 하기</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
</body>
</html>
