{% load static %}
<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>이메일 인증 | Senpick</title>
  <link rel="stylesheet" href="{% static 'css/login.css' %}">
  <link rel="stylesheet" href="{% static 'css/signup.css' %}">
  <link rel="stylesheet" href="{% static 'css/slide.css' %}">
</head>
<body>
  <div class="background signup-background">
    <div class="signup-card">
      <div class="logo-wrapper">
        <img src="{% static 'images/senpick_logo.svg' %}" alt="Senpick 로고" class="logo">
      </div>
      <div class="step-indicator">
        <span class="dot active"></span>
        <span class="dot active"></span>
        <span class="dot"></span>
        <span class="dot"></span>
      </div>
      <div class="signup-form-header">
        <h2 class="signup-title">이메일 인증</h2>
      </div>
      <div class="signup-form-area">
        <div class="login-wrapper"> <!-- signup-form-wrapper -->
          <div class="form-block">  <!-- signup-form -->
            <p class="verify-description">
              이메일로 받은 인증번호 <strong>5자리</strong>를 입력해주세요.
            </p>

            <div class="verification-input-group">
              <input type="text" maxlength="1" class="verify-input" id="code1" autofocus>
              <input type="text" maxlength="1" class="verify-input" id="code2">
              <input type="text" maxlength="1" class="verify-input" id="code3">
              <input type="text" maxlength="1" class="verify-input" id="code4">
              <input type="text" maxlength="1" class="verify-input" id="code5">
            </div>

            <p class="error-message"></p>

            <div class="resend-container">
              <span class="timer-text">05:00</span>
              <span class="resend-code">인증코드 재전송</span>
            </div>

            <button type="button" id="verifyBtn" class="verify-btn">
              이메일 인증 완료
            </button>
          </div>
        </div>
      </div> 
    </div> 

    {% include "slide.html" %}
  </div>
  <script src="{% static 'js/signup.js' %}" defer></script>
  <script src="{% static 'js/slide.js' %}" defer></script>
</body>
</html>
