{% load static %}
<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <title>회원정보 입력</title>
  <link rel="stylesheet" href="{% static 'css/signup.css' %}">
  <link rel="stylesheet" href="{% static 'css/slide.css' %}">
</head>
<body>
  <div class="signup-container">
    <!-- 왼쪽 폼 영역 -->
    <div class="signup-form-area">

      <!-- 로고 -->
      <img src="{% static 'images/senpick_logo.svg' %}" alt="Senpick 로고" class="signup-logo">

      <!-- 스텝 인디케이터 -->
      <div class="step-indicator">
        <span class="dot active"></span>
        <span class="dot active"></span>
        <span class="dot active"></span>
        <span class="dot"></span>
      </div>

      <!-- 타이틀 -->
      <h2 class="signup-title">당신을 알아갈수록,<br>더 센스있는 선물을 고를 수 있어요.</h2>

      <!-- 생년월일 입력 -->
      <label for="birth" class="label-birth">생년월일</label>
      <input type="text" id="birth" class="input-birth" placeholder="예: 19990101">
      <div id="birth-error" class="error-message"></div>

      <!-- 성별 -->
      <label class="label-gender">성별</label>
      <div class="gender-group">
        <button type="button" class="gender-btn" id="maleBtn">남자</button>
        <button type="button" class="gender-btn" id="femaleBtn">여자</button>
      </div>
      <div id="gender-error" class="error-message"></div>

      <!-- 직업 -->
      <label for="job" class="label-job">직업</label>
      <select id="job" class="input-job">
        <option value="">직업 선택</option>
          <option value="student">학생/취준생</option>
          <option value="office">직장인</option>
          <option value="professional">전문직</option>
          <option value="creator">창작/문화 종사자</option>
          <option value="public">공공/공무 종사자</option>
          <option value="self">자영업자</option>
          <option value="housewife">주부</option>
          <option value="unemployed">비직업군</option>
          <option value="etc">기타</option>
      </select>
      <div id="job-error" class="error-message"></div>
      <!-- 다음단계 버튼 -->
      <button id="nextBtn" class="next-btn">다음 단계</button>
    </div>

    <!-- 오른쪽 슬라이드 영역 -->
    <div class="signup-visual">
      {% include "slide.html" %}
    </div>
  </div>

  <script src="{% static 'js/signup.js' %}" defer></script>
</body>
</html>
