{% load static %}
<div class="sidebar-right collapsed" id="sidebar-right">
    <!-- 상단 헤더 (브랜드/토글) -->
    <div class="sidebar-header" style="display: block; margin-top: 24px; padding-left: 10px; padding-bottom: 0;">
        <button class="sidebar-history menu-btn tooltip">
            <span class="tooltip-text">선물 추천 히스토리 닫기</span>
            <img
                src="{% static 'images/gift.svg' %}"
                alt="Sidebar Image"
                class="sidebar-image"
            />
            History
        </button>
        <div class="divider-line"></div>
    </div>
    <div class="card-wrapper"></div>
</div>
<div class="floating-history" onclick="clickFloatingHistory()">
    <div>
        <button class="sidebar-history menu-btn tooltip">
            <span class="tooltip-text">선물 추천 히스토리 열기</span>
            <img
                src="{% static 'images/gift.svg' %}"
                alt="Sidebar Image"
                class="sidebar-image"
            />
            History
        </button>
    </div>
</div>
<script src="{% static 'js/script.js' %}"></script>
<script>
    // 사이드바 토글 기능
    const sidebarRight = document.getElementById("sidebar-right");
    const sidebarHistory = document.querySelector(".sidebar-history");

    sidebarHistory.addEventListener("click", () => {
        sidebarRight.classList.add("collapsed");
    });

    function clickFloatingHistory() {
        sidebarRight.classList.remove("collapsed");
        const chatForm = document.getElementById('chat-form');
        fetch("/recommends?chat_id="+chatForm.dataset.chatId)
            .then(response => response.json())
            .then(data => {
                const cardWrapper = document.querySelector('.card-wrapper');
                cardWrapper.innerHTML = ''; // 기존 카드 초기화
                for (const product of data.products) {
                    createProductCard(cardWrapper, {
                        rcmd_id: product.recommend_id,
                        imageUrl: product.image_url,
                        brand: product.brand,
                        title: product.title,
                        link: product.product_url,
                        is_liked: product.is_liked,
                    });
                }
            })
            .catch(error => {
                console.error("Error fetching chat history:", error);
            });
    }
</script>