{% load static %}
<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <title>비밀번호 찾기</title>

  <link rel="stylesheet" href="{% static 'css/fonts.css' %}">
  <link rel="stylesheet" href="{% static 'css/slide.css' %}">
  <link rel="stylesheet" href="{% static 'css/login.css' %}">
  <link rel="stylesheet" href="{% static 'css/pswd.css' %}">
  <link rel="stylesheet" href="https://spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css">
  <link href='//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css' rel='stylesheet' type='text/css'>
</head>
<body>
  <div class="background">
    <!-- 왼쪽 카드 (배경 역할만) -->
    <div class="left-card">
      <div class="logo-wrapper">
        <img src="{% static 'images/senpick_logo.svg' %}" alt="Senpick 로고" class="logo">
      </div>
      <div class="step-indicator">
        <span class="dot active"></span>
        <span class="dot"></span>
        <span class="dot"></span>
      </div>
      <div class="outer-pswd-wrapper">
        <div class="pswd-wrapper">
          <div class="text-block">
            <h2 class="main-title">비밀번호 찾기</h2>
            <p class="sub-title">가입 시 사용했던 이메일을 기입해주세요.</p>
          </div>
          <div class="form-block">
            <form method="post" action="{% url 'login' %}" class="pswd-form">
              {% csrf_token %}
              <input type="text" name="username" id="email" placeholder="이메일 입력 (예:senpick@senpick.com)">
              <div class="error-message" id="email-error">이메일을 필수 입력해주세요.</div>
              <button type="submit" class="pswd-next">다음 단계</button>
            </form>
          </div>
        </div>
      </div>
    </div>
    <!-- 슬라이드 포함 -->
    {% include "slide.html" %}
  </div>
  <script src="{% static 'js/slide.js' %}" defer></script>
  <script src="{% static 'js/pswd.js' %}" defer></script>
</body>
</html>