{% load static %}
<link rel="stylesheet" href="{% static 'css/slide.css' %}">
<link rel="stylesheet" href="{% static 'css/fonts.css' %}">
<link rel="stylesheet" href="https://spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css">
<link href="https://fonts.googleapis.com/css2?family=Spoqa+Han+Sans+Neo:wght@400;500;700&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Cafe24+Supermagic&display=swap" rel="stylesheet">
<script src="{% static 'js/slide.js' %}" defer></script>


<div class='right-slide'>
  <div class='slider-wrapper' id='slider'>

    <div class='slide-content slide-1'>
      <h2><span class='font-a'>“무슨 선물을 해야 할까?” <br>그 고민, </span><span class='font-b'>Senpick</span><span class='font-a'>이 줄여줄게요.</span></h2>
      <p><span class='font-a'>기쁜 날, 위로가 필요한 날, 마음을 전하고 싶은 날.<br></span>
        <span class='font-b'>Senpick</span><span class='font-a'>은 당신의 감정과 상황까지 이해하고, 어울리는 선물을 추천해요.</span>
      </p>
      <img src="{% static 'images/slide_1.png' %}" alt="Slide 1">
    </div>

    <div class='slide-content slide-2'>
      <h2>
          <span class='font-a'>“말 속에 진심이 담겨 있잖아요”</span>
      </h2>
      <p>
          <span class='font-a'>카카오톡·인스타그램 대화 내역을 분석해, <br></span>
          <span class='font-b'>Senpick</span><span class='font-a'>은 당신의 마음을 더 깊이 이해하고 선물에 담아요.</span>
      </p>
      <img src="{% static 'images/slide_2.png' %}" alt="Slide 2">
    </div>
  
    <div class='slide-content slide-3'>
      <h2>
          <span class='font-a'>“그 선물, 이유까지 함께 전해드려요.”</span>
      </h2>
      <p>
          <span class='font-a'>단순히 인기 있는 선물이 아닌,<br>받는 사람의 상황과 성격, 당신의 마음까지 고려한 선물이에요.<br></span>
          <span class='font-b'>Senpick</span><span class='font-a'>은 왜 이 선물이 어울리는지, 공감 가는 설명과 함께 추천드려요.</span>
      </p>
      <img src="{% static 'images/slide_3.png' %}" alt="Slide 3">
    </div>
  
    <div class='slide-content slide-4'>
      <h2>
          <span class='font-a'>“</span><span class='font-b'>Senpick</span><span class='font-a'>은 당신과 함께 기억하고, 준비해요.”</span>
      </h2>
      <p>
          <span class='font-a'>좋았던 선물은 다시 꺼내보고,<br>특별한 날은 잊지 않고 </span><span class='font-b'>Senpick</span><span class='font-a'>이 축하해드릴게요.</span>
      </p>
      <img src="{% static 'images/slide_4.png' %}" alt="Slide 4">
    </div>
  
    <div class='slide-content slide-5'>
      <h2>
          <span class='font-a'>지금 바로 </span><span class='font-b'>Senpick</span><span class='font-a'>과 함께<br>선물 추천을 시작해보세요!</span>
      </h2>
      <img src="{% static 'images/slide_5.png' %}" alt="Slide 5">
    </div>


  </div>

  <div class="slide-indicator">
    <span class="dot active"></span>
    <span class="dot"></span>
    <span class="dot"></span>
    <span class="dot"></span>
    <span class="dot"></span>
  </div>
</div>
