html, body {
  margin: 0;
  padding: 0;
  height: 100vh;
  background: #FFFDE7;
  font-family: 'Spoqa Han Sans Neo', sans-serif;
  position: relative;
  display: flex;
  overflow: hidden;
}

.background {
  padding: 20px;
  background-color: #FFFDE7;
  position: relative;
  display: flex;
  overflow: hidden;
  /* height: 100vh; */
  gap: 40px;

  -webkit-user-drag: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* 왼쪽 카드 배경 */
.left-card {
  max-width: 700px;
  min-width: 600px;
  /* height: 100vh; */
  background: #fff;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  z-index: 1;
  flex: 0 0 44vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* 로고 */
.logo {
  margin: 20px 20px 10px;
  height: 30px;
  display: block;
  cursor: pointer;
  /* box-sizing: content-box;
  padding: 25px;
  height: 42px;
  z-index: 2; */
}

.outer-wrapper {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  /* display: flex;
  justify-content: center;   
  height: calc(100% - 152px)     */
}

.login-wrapper {
  width: 100%;
  max-width: 450px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin: 0 auto;
  /* padding: 0 150px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  z-index: 2;
  margin: 0 auto; 
  width: 100%; */
}

/* 제목 */
.main-title {
  margin: 0;
  font-size: 26px;
  font-weight: 700;
  color: #2E2E2E;
  z-index: 2;
  text-align: center;
}

/* 설명 */
.sub-title {
  margin-top: 10px;
  font-size: 16px;
  color: #666;
  z-index: 2;
  text-align: center;
}

.login-form {
  display: flex;
  flex-direction: column;
  z-index: 2;
}

.input-group {
  display: flex;
  flex-direction: column;
  /* gap: 12px;  */
  /* margin-bottom: 24px;  */
  /* 기본 간격 (에러 여부 상관없이 적용) */
}

input[name="username"],
input[name="password"] {
  width: 100%;
  height: 44px;
  padding: 13px;
  font-size: 14px;
  border: 1px solid #E0E0E0;
  border-radius: 8px;
  background: #FFFFFF;
  box-sizing: border-box;
}

/* 기본 마진 설정 */
#email-group {
  margin-bottom: 15px; /* 이메일 ↔ 비밀번호 기본 간격 */
}
#password-group {
  margin-bottom: 25px; /* 비밀번호 ↔ 로그인 버튼 기본 간격 */
}

/* 에러가 보일 경우: 마진 확대 */
input.error#email + .error-message {
  display: block;
}
input.error#email + .error-message ~ #password-group {
  margin-top: 12px;  
}

input.error#password + .error-message {
  display: block;
}
input.error#password + .error-message ~ .login-btn {
  margin-top: 3px; 
}
/* .error-message {
  font-size: 12px;
  color: #EB1C24;
  display: none;
  margin-top: 2px;
} */

/* 로그인 버튼 */
.login-btn,
.guest-btn {
  width: 100%;
  height: 44px;
  font-size: 16px;
  font-weight: 400;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.2s ease;
}

.login-btn {
  background: #eee;
  border: none;
  color: #2E2E2E;
}

.login-btn:hover,
.login-btn:active {
  background-color: #FFE900;
  font-weight: bold;
}

.guest-btn {
  background: #fff;
  border: 1px solid #ccc;
  color: #2E2E2E;
/*   margin-top: 0;  */
}

.guest-btn:hover,
.guest-btn:active {
  background-color: #FFE900;
  border: 2px solid #FFE900;
  font-weight: bold;
}

.or-group {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
}

.line-left,
.line-right {
  flex-grow: 1;
  height: 1px;
  background: #e0e0e0;
}

.or-text {
  font-size: 18px;
  color: #ddd;
  font-weight: 300;
}

.social-login {
  display: flex;
  justify-content: center;
  gap: 60px;
  margin-top: 25px;
  margin-bottom: 35px;
}

.social-login img {
  width: 42px;
  height: 42px;
  cursor: pointer;
}

.link-row {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.find-password,
.signup {
  font-size: 14px;
  text-decoration: underline;
  color: #666666;
}

.find-password:hover,
.signup:hover {
  font-weight: 700;
  color: #2E2E2E;
}

.coming-soon-popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 20px 30px;
  border-radius: 8px;
  z-index: 1000;
  opacity: 0;
  display: none;
  transition: opacity 0.3s ease-in-out;
  font-size: 1.2em;
  text-align: center;
}

.coming-soon-popup.show {
  opacity: 1;
  display: block;
}